---
layout: default
---

<main class="flex-shrink-0">
  <section class="sechead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class=" mx-auto">
          <div class="post-heading">
            <h1 class="mx-auto">{{ page.title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container my-4">
      <div class="row">
        <div class="col-lg-9 mx-auto">
          <div class="meta text-start">
            <h2 class="mx-auto">{{ page.title }}{% if page.version %} <span class="badge rounded-pill text-bg-info fs-6">v. {{ page.version }}</span>{% endif %}{% if page.version %} <span class="badge rounded-pill text-bg-secondary fs-6">{{ page.license }}</span>{% endif %} </h2>
            <p>By: <strong>{{ page.author }}</strong></p>           
            {% include carousel.html %}
          </div>
          <div class="post-content">
            {{ content }}
          </div>
        </div>
        <div class="col-lg-3 mx-auto sidebar">
          {% if page.homepage %}
          <a class="btn active" href="{{ page.homepage }}" target="_blank"><i class="fa fa-home" aria-hidden="true"></i> Website</a>
          {% endif %}
          {% if page.download %}
          <a class="btn active" href="{{ page.download }}" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Download</a><br>
          {% endif %}
          {% if page.demo %}
          <a class="btn active" href="{{ page.demo }}" target="_blank"><i class="fa fa-file" aria-hidden="true"></i> Demo</a>
          {% endif %}
          {% if page.license_link %}
          <a class="btn active" href="{{ page.license_link }}" target="_blank"><i class="fa fa-id-card" aria-hidden="true"></i> License</a>
          {% endif %}
          <br><div class="page-image text-center"><img src="/thumbnails/{{ page.thumbnail }}" class="rounded mx-auto d-block" alt="{{ page.title | append: ' thumbnail' }}"></div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container my-4">
      <div class="home-divider"></div>
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="clearfix">
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
              {% if page.previous.url %}
                <li class="page-item"><a class="page-link" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" hreflang="{{ site.lang }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ page.previous.title }}">Previous</a></li>
              {% endif %}
              {% if page.next.url %}
                <li class="page-item"><a class="page-link" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" hreflang="{{ site.lang }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ page.next.title }}">Next</a></li>
              {% endif %}
            </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="home-divider"></div>
  </section>

  <section class="disqus-section">
    <div class="container my-4">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="clearfix">
            {% if page.comments %}
              {% if site.disqus_shortname %}
                {% include disqus_comments.html %}
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="home-divider">
      <div class="container my-4">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">How to submit a theme</h4>
              <ol>
                <li>Fork <a href="https://github.com/carlesloriente/jekyllthemes" rel="noopener noreferrer" target="_blank">our site</a> on GitHub</li>
                <li>Create a new post in the <code>_posts</code> directory and fill out the relevant YAML fields</li>
                <li>Make a 250x200 thumbnail and drop it in the <code>thumbnails</code> directory. List its filename in the post's markdown file.</li>
              </ol>
              <hr>
              <p class="mb-0">Test it out, then push your changes up and open a pull request.</p>
            </div>
         </div>
        </div>
      </div>
    </div>
  </section>
</main>